.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.723) ;
    backdrop-filter: blur(8px);
}

.logo {
    width: 4rem;
    height: auto;
    margin-left: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: Orbitron;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Geo ;
}

body{
    background-image: linear-gradient(to bottom , #000000 , #1F0107 , #79021C);
    background-repeat: no-repeat ;
    height: 100vh;
    
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    margin-top: 4em;
    height: 30em;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('public/valorant-champions-tour-2024-americas-kickoff.jpeg');
    background-position: 25% 25%;
}

.hero-logo{
    display: flex;
    font-size: 1.5em;
}

.hero-img{
    width: 2em;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero-title h2{
    font-size: 4em;
    width: 10em;
}