* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(180deg, black, #79021c);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  font-family: Geo;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-bar {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.723);
  backdrop-filter: blur(8px);
}

.logo {
  width: 4rem;
  height: auto;
  margin-left: 1rem;
}

.logo-text {
  height: 2.4rem;
}

.logo-foot {
  width: 10rem;
  height: auto;
}

.social-logo {
  width: 2.5rem;
  height: auto;
}

.mobile-icon {
  display: none;
  font-size: 4rem;
}

.pc-nav {
  display: flex;
  gap: 4rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  opacity: 0%;
}

.col-nav {
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .mobile-icon {
    display: flex;
  }
  .pc-nav {
    display: none;
  }
  .col-nav:hover .mobile-icon {
    display: none;
  }
  .col-nav:hover .mobile-nav {
    display: block;
    display: flex;
    flex-direction: column;
    opacity: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Orbitron;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-image: url(public/champions-made.jpg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.3rem;
}

.hero-paragtaph {
  background-color: #43010f86;
  width: 25rem;
  padding: 2rem;
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.hero-paragtaph:hover {
  box-shadow: 0 20px 40px rgba(246, 59, 59, 0.2);
  transform: translateY(-2px);
  transition: 0.3s ease-in-out;
}

h1,
.hero-paragtaph {
  margin: 3.4rem;
}

.merch {
  background-color: #000000b9;
  box-shadow: 0 0px 20px rgba(255, 0, 0, 0.445) inset;
}

footer {
  background-image: linear-gradient(180deg, #79021c9f, black);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.left-footer {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socials {
  display: flex;
  gap: 1.3rem;
}

.footer-links {
  display: flex;
  gap: 4rem;
  margin-right: 2rem;
}
